.coin-full-page {
    width: 100%;
    height: auto;
    padding: 2vh 4vw;

    .coin-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(128, 128, 128, 0.637);
        padding: 0.4vh 2vw 1.4vh 2vw;
        

        .coin-title-left {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30vw;

            .name {
                font-weight: bold;
            }

            .price {
                font-weight: bold;
            }
        }
        .coin-links {
            display: flex;
            justify-content: space-between;
             align-items: end;
            width: 10vw;
            height: 7vh;

            a{
                text-decoration: none;
                color: rgb(43, 173, 216);
            }
        }
    }
    .under-title {
        display: flex;
        justify-content: space-around;
        padding-top: 6vh;
        border-bottom: 2px solid rgba(128, 128, 128, 0.637);
        padding-bottom: 1.4vh;

        .price-chart {
            font-weight: bold;
        }
        .percentage {
            span {
                margin-left: 0.3vw;
                color: rgb(50, 240, 50);
            }
        }

        .high{
            span {
                font-weight: bold;
                margin-left: 5px;
            }
        }
    }
    .graphic {
        margin-top: 5vh;
        width: 100%;
    }
    .desc-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 3vh;

        .value-statistics{
            width: 45%;
            h2{
                font-weight: 400;
                font-size: 28px;
                letter-spacing: 1px;
                text-align: center;
                margin-bottom: 4vh;
            }
            p{
               font-size: 17px;
               color: rgb(82, 77, 77);
               line-height: 26px;
            }
            .value-table {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    padding: 3vh 3vw 1vh 3vh;
                    border-bottom: 2px solid lightblue;
    
                 .icon {
                    display: flex;
                    align-items: center;
                    font-size: 34px;
                    color: rgb(49, 158, 194);
                 }
                }
            }

            .coin-value-description {
                margin-top: 5vh;
                padding: 10px 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .what-is {
                    color: black;
                    margin-bottom: 1vh;
                    font-weight: 700;
                    font-size: 20px;
                }
                .container {
                    border-radius: 8px;
                    padding: 10px;
                    border: 1px solid blue;
                    p{
                        font-size: 15px;
                        color: black;
                    }
                }
            }
            
        }

        .supply-information {
            width: 50%;
            
            h2{
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 28px;
                text-align: center;
                margin-bottom: 4vh;
            }
            p{
               font-size: 17px;
               color: rgb(82, 77, 77);
            }
        .supply-table{
            background-color: rgb(241, 246, 255);
            border-radius: 0.25rem;
            margin-top: 11vh;
            padding-top: 5vh;
            padding: 3vh 1vw;
            height: 60vh;
            .verify-title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                margin-bottom: 5vh;
                color: green;
                p{
                    margin-left: 0.4vw;
                    color: green;
                    font-size: 17px;
                }
            }

            .updated{
                border-bottom: 1px solid aqua;
                margin-bottom: 5vh;
                padding-bottom: 3px;
            }
            .total-supply {
                border-bottom: 1px solid aqua;
                margin-bottom: 5vh;
                padding-bottom: 3px;
                display: flex;
                justify-content: space-between;
                span{
                    font-weight: bold;
                }
            }
            .max{
                border-bottom: 1px solid aqua;
                margin-bottom: 5vh;
                padding-bottom: 3px;
                display: flex;
                justify-content: space-between;
                span{
                    font-weight: bold;
                }
            }
            .total-supply2 {
                border-bottom: 1px solid aqua;
                margin-bottom: 5vh;
                padding-bottom: 3px;
                display: flex;
                justify-content: space-between;
                span{
                    font-weight: bold;
                }
            }
           
        }
        }
    }
}