.navbar {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #124E78;
    padding: 0 8%;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
    }

    .logo {
        a {
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        img {
            margin-right: 5px;
            height: 40px;
        }
    }

    .nav-items {
        background-color: white;
        padding: 1% 4.5%;
        border: 1px solid rgb(6, 0, 85);
        border-radius: 10px;
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .active {
            color: #3d6dd4;
            font-weight: bold;
        }

        .heart {
            margin-top: 5px;
            font-size: 25px;
        }
    }

    .profile {
        width: 145px;
        margin-top: 7px;
        display: flex;
        justify-content: flex-end;

        span {
            a {
                color: white;
                font-size: 30px;
            }

        }
    }
}