.icons-about{
    color: black;
    margin: 30px;
    font-size: 60px;
}
.icons-about:hover{
    color: grey;
}
.card{
    margin: 10px;
}
.container{
    margin: 10px;
}
.image{
    width: 100px;
    margin: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
.person{
    margin-right: 20px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 1000px;
}
.about{
    display: flex;
    justify-content: space-around;
}