.card{
    display: flex;
    width: 90%;
    align-items: center;
    border-bottom: 1px solid lightblue;
    padding: 10px 5%;
    
    div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
    .rank{
        img{
         margin-left: 30px;
        }
    }
    .icon{
        margin-right: 20px;
        width: 50px;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    
    a{
        button{
            font-size: 16px;
            background-color: #124E78;
           color: white;
            border-radius: 20px;
            padding: 15px 10px; 
            border-bottom-right-radius: 0px;
            border:none;
            transition: 0.3s;
            &:hover{
                background-color: lightblue;
            }
        }


    }
}