.coin-description{
    width: 90%;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgreen;

    div{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        &:nth-child(1){
         background-color: red;
        }
    }

    .favorite, .calc,.coin-rank,.coin-icon{
        flex: 0;
        
        }

}